node_modules
npm-debug.log
logs
.git
.gitignore
*.md
env/.env.*.user
env/.env.local
.localConfigs
.localConfigs.testTool
.notification.localstore.json
.notification.testtoolstore.json
appPackage/build
